@import url("header.css");
@import url("../pages/create-account/create-account.css");
@import url("../pages/login/login.css");
@import url("../pages/profile-preview/profile-preview.css");
@import url("footer.css");

:root {
  --main-bg-color: linear-gradient(178deg, #0e0142 19.61%, #1f105a 40.7%, #0a0323 87.25%);
  --main-text-color: #ffff;
  --additional-text-color: #ffff;
  --main-accent-color: #5b46ae;
  --additional-accent-color: #48dfb7;
  --main-shadow-color: rgb(91 70 174 / 54%);
  --main-border-color: #5b46ae;
  --header-bg-color: #5b46ae;
}

.main__btn--main-accent-style,
.create-account-form__submit--main-accent-style,
.login-form__submit--main-accent-style {
  background-color: var(--main-accent-color);
  color: var(--main-bg-color);
}

.main__btn--additional-accent-style {
  background-color: var(--additional-accent-color);
  color: var(--main-accent-color);
}

.main__btn--additional-accent-style:hover {
  background-color: var(--main-accent-color);
  color: var(--main-bg-color);
  border: solid 2px var(--additional-accent-color);
  box-shadow: 2px 2px 4px 2px var(--main-shadow-color);
  transition: background-color 0.5s ease-in-out;
}

.header__btn--basic-color-style {
  background-color: var(--main-text-color);
  color: var(--main-bg-color);
}

.main__btn--main-accent-style:hover,
.header__btn--basic-color-style:hover {
  background-color: var(--additional-accent-color);
  color: var(--main-accent-color);
  border: solid 2px var(--main-shadow-color);
  box-shadow: 2px 2px 4px 2px var(--main-shadow-color);
  transition: background-color 0.5s ease-in-out;
}

body {
  background: var(--main-bg-color);
  font-family: Roboto, sans-serif;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

.btn {
  cursor: pointer;
}

.main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main__container {
  /* margin-top: 60px;
  margin-bottom: 60px; Scroll appears when margins apllied */
  text-align: center;
  color: var(--main-text-color);
}

.main__heading-img {
  margin: 30px auto 0;
}

.main__subheading {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
}

.main__text {
  margin-top: 5px;
  font-size: 32px;
  line-height: 38px;
}

.main__btn-container {
  padding-top: 100px;
  width: 400px;
  margin: 0 auto;
}

.main__btn {
  width: 100%;
  font-weight: 700;
}

.create-btn {
  margin-bottom: 15px;
  height: 110px;
  font-size: 36px;
  border-radius: 50px;
}

.watch-btn {
  margin-top: 15px;
  height: 80px;
  border-radius: 40px;
  font-size: 28px;
  line-height: 33px;
}
