/* Обнуление стилей */
*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul,
ol,
li{
    list-style: none;
}
img{
    max-width: 100%;/* если контейнер будет больше, то изображение не будет обрезано из-за этого*/
    display: block; /* исторически img это inline-элемент, переопределяем его как блок*/       
}
h1,
h2,
h3,
h5,
h6, 
input,
button,
textarea,
select{    
    font: inherit;
}/*позволяет сбросить стили по умолчанию пименяемые к загловкам*/
/*элменеты в списке начиная с input потому что они не наследуют шрифт от боди как другие элементы
и им приходиться принудительно задавать наследование*/
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;/*позволяет слову Antidisestablishmentarianism уместиться внутри элемента без переполнения*/
    hyphens: auto;/*создает дефис-перенос в местах где браузер считает нужным (не работает при русском языке даже с атрибутом lang)
    Для длинных слов на русском языке использовать &shy в html - это мягкий перенос с дефисом*/
}
html,
body{
    height: 100%;/*проценты потому что vh не работают так как нужно на мобильных устройствах из-за того что
    интерфейс браузера на телефоне то появляется то исчезает(сама не проверяла) */
	text-rendering: optimizeSpeed;	
	line-height: 1.5;/*стандарты доступности W3C для дислексии рекомендуют 1.5, но скорее всего не подходит для заголовков*/
}
/*---------------------------------------*/