.profile__bio {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.profile__img-container {
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 3;
}
