@media screen and (min-width: 400px) and (max-width: 699px) {
  .container {
    max-width: 400px;
  }

  .main {
    margin-top: 60px;
  }
  
  .footer {
    margin-top: 90px;
  }

  .footer__container {
    grid-template-areas: 
    "footer__copyright footer__links"
    "footer-contacts__text footer__links";
    grid-template-columns: 1fr 1fr;
  }

  .footer__copyright {
    font-size: 14px;
  }

}