@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }

  .main {
    margin-top: 60px;
  }

  .main__heading-img {
    margin: 30px auto 0;
  }

  .main__subheading {
    font-size: 36px;
  }

  .main__btn-container {
    margin: 90px auto 0;
    width: 400px;
  }

  .main__text {
    margin-top: 5px;
    font-size: 32px;
  }

  .main__btn-container .main__text {
    margin: 15px 0;
  }

  .create-btn {
    height: 110px;
    font-size: 36px;
    padding-top: 33px;
  }

  .watch-btn {
    height: 80px;
    font-size: 28px;
    line-height: 33px;
    padding-top: 22px;
  }

  .footer {
    margin-top: 90px;
  }

  .footer__container {
    grid-template-areas: "footer__copyright footer-contacts__text footer__links";
    grid-template-columns: 3fr 1fr 0.4fr;
  }

  .footer-contacts__text {
    text-align: right;
  }

  .footer__links {
    justify-content: end;
  }
}
