.footer {
  border: solid 1px var(--main-text-color);
  color: var(--main-text-color);
}

.footer__container {
  display: flex;
  justify-content: space-between;
  padding: 30px 0 35px;
}

.footer-contacts {
  display: flex;
}

.footer__copyright {
  font-size: 18px;
}

.footer-contacts > *:not(:last-child) {
  margin-right: 13px;
}

.footer-contacts__text {
  font-size: 20px;
  margin-right: 25px;
}

.footer-contacts__gh-link {
  text-decoration: underline;
  color: var(--main-text-color);
}
