.footer {
  border: solid 1px var(--main-border-color);
  color: var(--main-text-color);
}

.undisplayed {
  display: none;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  padding: 30px 0 35px;
}

.footer-contacts {
  display: flex;
}

.footer__copyright {
  font-size: 18px;
}

.footer-contacts > *:not(:last-child) {
  margin-right: 13px;
}

.footer-contacts__text {
  font-size: 20px;
  margin-right: 25px;
}

.footer-contacts__gh-link {
  display: inline-block;
  text-decoration: underline;
  color: var(--main-text-color);
  transition: all 0.3s;
}

.footer-contacts__gh-link:hover {
  margin-left: 5px;
  transform: scale(1.05);
}

.footer-contacts__img {
  transition: all 0.3s;
}

.footer-contacts__img:hover {
  transform: scale(1.1);
}
