.footer {
  border: solid 1px var(--main-border-color);
  color: var(--main-text-color);
  padding: 20px 0 35px;
}

.undisplayed {
  display: none;
}

.footer__container {
  display: grid;
  align-items: center;
}

.footer__copyright {
  font-size: 18px;
  grid-area: footer__copyright;
}

.footer-contacts__text {
  font-size: 20px;
  grid-area: footer-contacts__text;
}

.footer__links {
  display: flex;
  grid-area: footer__links;
}

.footer-contacts__gh-link {
  display: inline-block;
  text-decoration: underline;
  color: var(--main-text-color);
  transition: all 0.3s;
}

.footer-contacts__gh-link:hover {
  margin-left: 5px;
  transform: scale(1.05);
}

.footer-contacts__img {
  transition: all 0.3s;
}

.footer-contacts__img:hover {
  transform: scale(1.1);
}

.footer-contacts__link:last-child {
  margin-left: 20px;
}
